@model IEnumerable<Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewBag.Title = "All Products";
    Layout = "_Layout";
}

<div>
    @if (@User.Identity.Name == "Admin") {
        <a type="button" class="btn btn-secondary" asp-controller="Admin" asp-action="AddNewProduct">Add new</a>
     }
</div>
<br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var product in Model)
        {
        <tr>
            <th scope="row">@product.ProductId</th>
            <td>@product.Name</td>
            <td>@product.Price.ToString("C")</td>
            <td>@(product?.ProductCategory?.Name)</td>
            <td>@product.Description</td>
            <td><a type="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a></td>
            <td> <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a></td>
        </tr>
        }
  </tbody>
</table>


