@model IEnumerable<Product>

<div>
    @await Component.InvokeAsync("NavigationMenu")
</div>
<br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var product in Model)
        {
        <tr>
            <th scope="row">@product.ProductId</th>
            <td>@product.Name</td>
            <td>@product.Price.ToString("C")</td>
            <td>@(product?.ProductCategory?.Name)</td>
            <td>@product.Description</td>
        </tr>
        }
  </tbody>
</table>


